body{
  background: #4568dc;
    background: #9CECFB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra{
  position: relative;
  display: block;
  width: 100%;
  font-size: xx-small;
}

label{
  width: auto;
  background-color: transparent;
  text-align: left;
  color: rgb(85, 2, 33);
  font-size: 18px;
  
}
input{
  margin-top: 20px;
  width: auto;
  border: none;
  border-bottom: 1px solid;

}

form{
    background: white;
    padding: 20px 20px 20px 20px;
    border: 2px green;
    border-radius: 10px;
}

button{
    margin-top: 30px;
    float: right;
    background: rgb(22, 14, 14);
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;    
}
h1{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    color: rgb(22, 14, 14);
}
a{
  color: white;
}